*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* REGISTER PAGE */
.form--submits {
  width: 30%;
  margin: 0 auto;
}

/* NAVBAR */
.fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  height: 10vh;
  width: 100%;
}

.fluid img {
  cursor: pointer;
  margin-left: 15px;
}

.nav-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  padding-top: 10px;
}

.nav-profile p {
  font-size: 1.2rem;
  cursor: pointer;
}

.select {
  width: 20px;
}

/* DASHBOARD */
.dashboard {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.dashboard h6 {
  text-align: left;
  margin-top: 50px;
}

/* Photo Details */
.view-container{
  width: 70%;
  background-color: white;
  margin: 30px auto;
  padding-bottom: 20px;
  /* border: solid 1px red; */
}

.top {
  color: white;
  height: 60px;
  background-color: white;
  padding-left: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: solid 1px black; */
}

.photo-body {
  display: flex;
  justify-content: space-evenly;
  /* border: solid 1px black; */
  width: 100%;
  /* height: 55vh; */
  margin-top: 50px;
}

.body-left {
  display: block;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}


.image{
  width: 50vw;
  height: 55vh;
}

/* .delete-btn {
  color: blue;
  border: 2px solid black;
  box-shadow: 2px 2px powderblue;
  background-color: powderblue;
  height: 40px;
  width: 100px;
}

.back-btn {
  color: blue;
  border: 2px solid black;
  box-shadow: 2px 2px powderblue;
  background-color: powderblue;
  height: 40px;
  width: 100px;
} */

